.inputTask {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    margin-bottom: 15px;
    background: #edebeb;
    border-radius:  5px;
    padding-right: 10px;

    &Label {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 12px 15px;
    }

    &Edit, &Remove{
        display: block;
        border: none;
        background: none no-repeat center center;
        cursor: pointer;
        padding: 0;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    &Edit{
        background-image: url('./images/edit.svg');
    }

    &Remove{
        background-image: url('./images/trash.svg');
    }

    &Chechbox{
        width: 20px;
        height: 20px;
    }

    &Title{
        padding: 5px;
        line-height: 1.2;
    }
}